@import "tailwindcss";


/* *{padding: 0px; margin: 0px; box-sizing: border-box;} */

.container{
  width: 90%;
  margin: auto;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}



.link:hover{
  color: #ff5252;
}

.MuiBadge-badge{
  background-color: #ff5252 !important;
}